/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ac8d74;
}

/* Sign-In Section */
.sign-in-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sign-in-section h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in-btn {
    padding: 10px;
    background:  #ac8d74;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-in-btn:hover {
    background:  #040303;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer p {
    font-size: 14px;
}

.form-footer a {
    color: #ac8d74;
    text-decoration: none;
}

.form-footer a:hover {
    color:black
}

/* Error Message */
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

/* Footer Section */
footer {
    background: linear-gradient(to right, #040303, #c2b8b0);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
}

.contact-info a {
    color: #ac8d74;
    text-decoration: none;
}

.contact-info a:hover {
    color: white;
}
